body {
    background-color: #e2e8e4;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #006c84;
    width: 100%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #ffccbb;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
 
  li a:hover {
    background-color: #111;
  }


.her{
    padding: 5px;
}


.about4{
    background-color: #6eb5C0;

}

.about3{
    background-color: #4b7b83;

}



  .res{
    font-size: 50px;
  }



.hty{
    width: 200px;
    text-align: center;
    background-color: #4b7b83;
    color: #ffccbb;
    font-size: 50px;
    border: solid 2px black;
    transition: 1s;
}




.hty:hover{
    background-color: #000000;
}



.fr{
    border: solid 3px rgb(0, 0, 0);
    width: 1300px;
    height: 700px;
    display:inline-block;
  
    
}









.zad{
    float: left;
}









.sew{
    width: 200px;
    background-color: #006c84;
    height: 500px;
}






.de{
    padding-top: 220px;
}



.reb{
    text-decoration: none;
    color: #ffccbb;
}





input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .gtx {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 1500px;
    float: left;
  }






  * {
   margin: 0;
   padding: 0;
}

.slider {
   width: 800px;
   height: 500px;
   overflow: hidden;
   border: 10px solid #000;
}

.middle {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.navigation {
   position: absolute;
   bottom: 16px;
   left: 50%;
   transform: translateX(-50%);
   display: flex;
}

.bar {
   width: 30px;
   height: 8px;
   margin: 6px;
   cursor: pointer;
   background-color: #000;
   opacity: .5;
   border-radius: 10px;
   transition: all 0.4s ease;
}

.bar:hover {
   
   transform:scale(1.1);
}

input[name="r"] {
   position: absolute;
   visibility: hidden;
}

.slides {
   width: 400%;
   height: 100%;
   display: flex;
}

.slide {
   width: 25%;
   transition: all 0.6s ease;
}

.img {
   width: 100%;
   height: 100%;
}

#r1:checked ~ .s1 {
   margin-left: 0;
}

#r2:checked ~ .s1 {
   margin-left: -25%;
}

#r3:checked ~ .s1 {
   margin-left: -50%;
}

#r4:checked ~ .s1 {
   margin-left: -75%;
}

.frames{
    color: #ffccbb;
    font-size: 100px;
    text-align: center;
    background-color: #006c84;
}






table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    float: left;
    
  }
  
  td, th {
    border: 1px solid #006c84;
    text-align: left;
    padding: 8px;
    color: #493c38;
  }
  
  tr:nth-child(even) {
    background-color: #6eb5c0;
  }






  .bootles{
    width: 500px;
    height: 450px;
    margin: auto;
    padding-left: 100px;
    padding-top: 90px;
    background-color: #006c84;
    border-radius: 50%;
    color: #ffccbb;
    transition: 0.5s;
  }



  .bootles:hover{
    background-color: #6eb5C0;
    box-shadow: gray 3px 4px 5px 10px;
  }




  .Burg{
    width: 400px;
    height:350px;
    background-color: #006c84;
    margin: auto;
    
    padding-top: 20px;
    border-radius: 20%;
    color: #ffccbb;
    text-align: center;
    transition: 0.5s;
    
  }



  .Burg:hover{
    background-color: #6eb5C0;
    box-shadow: gray 3px 4px 5px 10px;

  }






  .list3ed3d{
    font-size: 40px;
    background-color: #006c84;
    color: #ffccbb;
    width: 700px;
    padding-left: 50px;
  }




  .slideshow {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
  }
  
  
  .slideshow img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .slideshow img:first-child {
    opacity: 1;
  }
  
  @keyframes slide {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  .slideshow img {
    animation: slide 10s infinite;
  }






  * {
    margin: 0;
    padding: 0;
 }
 
 .slider {
    width: 800px;
    height: 500px;
    overflow: hidden;
    border: 10px solid #000;
 }
 
 .middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }
 
 .navigation {
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
 }
 
 .bar {
    width: 30px;
    height: 8px;
    margin: 6px;
    cursor: pointer;
    background-color: #000;
    opacity: .5;
    border-radius: 10px;
    transition: all 0.4s ease;
 }
 
 .bar:hover {
    opacity: 1;
    transform:scale(1.1);
 }
 
 input[name="r"] {
    position: absolute;
    visibility: hidden;
 }
 
 .slides {
    width: 400%;
    height: 100%;
    display: flex;
 }
 
 .slide {
    width: 25%;
    transition: all 0.6s ease;
 }
 
 .img {
    width: 100%;
    height: 100%;
 }
 
 #r1:checked ~ .s1 {
    margin-left: 0;
 }
 
 #r2:checked ~ .s1 {
    margin-left: -25%;
 }
 
 #r3:checked ~ .s1 {
    margin-left: -50%;
 }
 
 #r4:checked ~ .s1 {
    margin-left: -75%;
 }
 
 